.page {

    // .page__main-block

    &__main-block {
    }

    // .page__trasted

    &__trasted {
    }

    // .page__results

    &__results {
    }
}
.main-block {
    background-color: #010032;
    // .main-block__container

    &__container {
    }

    // .main-block__content

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 90px;
        
    }

    // .main-block__block

    &__block {
        padding: 100px 0px 50px 0px;
        @media (max-width: 991.98px)  {
            text-align: center;
        }
        @media (max-width: 767.98px)  {
            padding: 50px 0px 50px 0px;
        }
    }

    // .main-block__title

    &__title {
        font-size: 72px;
        line-height: 105%;
        color: #FFFFFF;
        margin-bottom: 35px;
        @media (max-width: 767.98px)  {
            font-size: 42px;
        }
    }

    // .main-block__text

    &__text {
        font-size: 22px;
        line-height: 155%;
        color: #FFFFFF;
        margin-bottom: 23px;
        @media (max-width: 767.98px)  {
            font-size: 18px;
        }
    }

    // .main-block__button

    &__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        min-height: 65px;
        background: #FFFFFF;
        border: 2px solid #FFFFFF;
        border-radius: 32px;
        line-height: 140%;
        width: 200px;
        text-align: center;
        color: #000000;
        margin-bottom: 100px;
        transition: all .3s ease;
        @media (any-hover: hover) {
            &:hover {
                transition: all .3s ease;
                box-shadow: 0px 0px 5px #ececec;
            }
        }
        @media (max-width: 767.98px)  {
            gap: 15px;
            width: 180px;
        }
    }

    // .main-block__independent

    &__independent {
        display: flex;
        align-items: center;
        gap: 25px;
        @media (max-width: 991.98px)  {
            justify-content: center;
        }
        @media (max-width: 767.98px)  {
            gap: 10px;
        }
    }

    // .main-block__cup

    &__cup {
    }

    // .main-block__items

    &__items {
        line-height: 144%;
        color: #FFFFFF;
        @media (max-width: 767.98px)  {
            font-size: 15px;
        }
    }

    // .main-block__item-text

    &__item-text {
        
    }

    // .main-block__item-subtext

    &__item-subtext {
        font-size: 15px;
        line-height: 149%;
        color: rgba(255, 255, 255, 0.6);
        @media (max-width: 767.98px)  {
            font-size: 13px;
        }
    }

    // .main-block__image

    &__image {
        flex: 0 0 46%;
        position: relative;
        @media (max-width: 991.98px) {
            display: none;
        }
        img{
            top: 0;
            left: 0;
            position: absolute;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
//==========================================================================================================================================
.trasted {

    // .trasted__container

    &__container {
    }

    // .trasted__content

    &__content {
        padding: 144px 0px 0px 0px;
        display: flex;
        gap: 90px;
        @media (max-width: 991px) {
            display: block;
            text-align: center;
            padding: 60px 0px 0px 0px;
        }
    }

    // .trasted__rating-block

    &__rating-block {
        flex: 0 0 31.25%;
        
    }

    // .trasted__wave

    &__wave {
    }

    // .trasted__working

    &__working {
    }

    // .trasted__info

    &__info {
    }
}

.working-items {
    padding: 115px 0px 0px 0px;
    @media (max-width: 991px) {
        padding: 65px 0px 0px 0px;
    }

    // .working-items__star

    &__star {
        margin-bottom: 23px;
    }

    // .working-items__text

    &__text {
        font-size: 19px;
        line-height: 147%;
        margin-bottom: 27px;
    }

    // .working-items__info

    &__info {
        display: flex;
        gap: 24px;
        @media (max-width: 991px) {
            justify-content: center;
        }
    }

    // .working-items__image

    &__image {
    }

    // .working-items__item

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    // .working-items__title

    &__title {
        line-height: 134%;

    }

    // .working-items__subtext

    &__subtext {
        font-size: 15px;
        line-height: 160%;
    }
}
.info-trasted {
    @media (max-width: 991px) {
        padding: 40px 0px 0px 0px;
    }
    // .info-trasted__title

    &__title {
        font-size: 48px;
        line-height: 112%;
        color: #000000;
        margin-bottom: 74px;
        @media (max-width: 767.98px) {
            font-size: 30px;
            margin-bottom: 30px;
        }
    }

    // .info-trasted__items

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 69px;
        @media (max-width: 767.98px) {
            display: block;
            margin-bottom: 30px;
        }
    }

    // .info-trasted__item

    &__item {
        @media (max-width: 767.98px) {
            margin-bottom: 20px;
        }
    }

    // .info-trasted__number

    &__number {
        font-size: 60px;
        line-height: 110%;
        color: #4543E8;
        margin-bottom: 8px;

    }

    // .info-trasted__text

    &__text {
        font-size: 21px;
        line-height: 147%;
    }

    // .info-trasted__content-logo

    &__content-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        row-gap: 20px;
        flex-wrap: wrap;
        @media (max-width: 767.98px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }
        @media (max-width: 478.98px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    // .info-trasted__logo

    &__logo {
        @media (max-width: 478.98px) {
            
        }
    }
}
//==========================================================================================================================================

.results {
    padding: 180px 0px 120px 0px;
    @media (max-width: 767px) {
        padding: 60px 0px 60px 0px;
    }
    // .results__container

    &__container {
    }

    // .results__content

    &__content {
    }

    // .results__wave

    &__wave {
    }

    // .results__title

    &__title {
        max-width: 698px;
        margin: 26px 0px 78px 0px;
        @media (max-width: 767px) {
            margin: 20px 0px 35px 0px;
        }
    }

    // .results__block

    &__block {
    }
}

.block-result {

    // .block-result__items-one

    &__items-one {
        display: flex;
        justify-content: space-between;
        gap: 9.8%;
        margin-bottom: 60px;
        @media (max-width: 991px) {
            display: block;
            max-width: 740px;
            margin: 0 auto;
        }
    }

    // .block-result__item-one

    &__item-one {
        flex: 0 0 44%;
        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
    }

    // .block-result__image

    &__image {
        padding-bottom: 89%;
        margin-bottom: 32px;
        img{
            width: 100%;
            border-radius: 10px;
        }
    }

    // .block-result__block

    &__block {
        color: #000000;
    }

    // .block-result__title

    &__title {
        font-size: 24px;
        line-height: 142%;
        margin-bottom: 23px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
        
    }

    // .block-result__text

    &__text {
        font-size: 12px;
        line-height: 232%;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .block-result__item-two

    &__item-two {
        flex: 0 0 44%;
        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
    }

    // .block-result__items-two

    &__items-two {
        max-width: 740px;
        margin: 0 auto 40px auto;
    }

    // .block-result__items-three

    &__items-three {
    }

    // .block-result__btn

    &__btn {
        display: block;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 50%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #4543E8;
        padding: 20px 44px;
        border-radius: 10px;
        transition: all .5s ease;
        @media (any-hover: hover) {
            &:hover {
                background: #2824e7;
                box-shadow: 0px 0px 5px #4543E8;;
            }
        }
    }
}


